Cython
email-validator
pydantic --no-binary pydantic
python-dotenv
SQLAlchemy
databases[postgresql]
alembic
fastapi
uvicorn
requests
bcrypt
orjson
jinja2
redis
aiofiles
aiosmtplib
fastapi-jwt-auth[asymmetric]

# testing
pytest
pytest-cov
pytest-asyncio
httpx
