Cython
email-validator
pydantic --no-binary pydantic
python-dotenv
SQLAlchemy
databases[postgresql]
alembic
fastapi
uvicorn
bcrypt
orjson
jinja2
redis
aiofiles
aiosmtplib
fastapi-jwt-auth[asymmetric]
